@import "~antd/dist/antd.css";

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabpane-scroll {
  height: 600px;
  overflow-y: auto;
  width: 100%;
}
